# SPDX-License-Identifier: MIT
# Runtime dependencies for the python/ scripts.
# Compatible-release pins (~=) allow patch and minor security updates while blocking
# breaking major upgrades. Dependabot proposes bumps weekly; CI runs pip-audit.
requests~=2.32.3
python-dotenv~=1.0.1
pandas~=2.2.3
openpyxl~=3.1.5
PyYAML~=6.0.2
