# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Ranil Fernando
[defaults]
inventory = inventory.yml
host_key_checking = True
stdout_callback = yaml
retry_files_enabled = False
interpreter_python = auto_silent
collections_path = ./collections:~/.ansible/collections

[inventory]
unparsed_is_failed = True
